.header-page_text-index {
  background-image: url("../images/back-mobile.jpg");
  position: relative;
  text-align: center;
  height: 389px;
  width: 320px;
  margin: 0 auto;
  .text-index_background {
    margin-top: 90px;
  }
  .text-index_triangle {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}