.form-page {
  ul, li {
    list-style-type: none;
  }
  .text-index {
    height: 158px;
  }
  .text-index_h1 {
    padding-top: 50px;
    text-transform: uppercase;
  }
  .form-title {
    padding: 20px 0 30px 0;
    font-size: @font-title1;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .form-description {
    font-size: @font-normal;
    color: @grey4;
    text-transform: uppercase;
  }
  .introduce, .contact-info, .impression, .attraction, .emotions {
    margin: 0 auto;
    padding: 10px;
    width: 300px;
  }

  .introduce input {
    width: 100%;
  }
}