.main_page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: PT-Sans, Arial, sans-serif;
  padding: 10px;
}

.text-index {
  background: url("../images/back-mobile.jpg") no-repeat center center;
  position: relative;
  text-align: center;
  height: 389px;
  width: 100%;
  margin: 0 auto;
  .text-index_background {
    margin-top: 90px;
  }

  .text-index_welcome {
    padding: 80px 0 0 0;
    color: @blue1;
    font: bold 32px Anton;
  }

  .text-index_gorgeous {
    margin: -10px 0 0 0;
    color: @brown1;
    font: normal 20px Damion;
    text-transform: lowercase;
  }

  .text-index_h1 {
    margin: 0;
    color: @white;
    font: bold 4em Archivo;
  }

  .text-index_no-canyon {
    color: @white;
    font: normal 24px Damion;
    text-transform: none;
    width: 185px;
    margin: 0 auto;
  }
  &::before {
    content: '';
    background: url("../images/triangle.png") no-repeat center center;
    position: absolute;
    bottom: 0;
    display: block;
    height: 57px;
    width: 100%;
  }
}

.reasons-block {
  .about-sedona {
    padding-top: 1.2em;
    font-weight: bold;
  }
  .five-reasons {
    margin: 40px 0 30px 0;
    color: @grey4;
    font: normal 0.8em PT-Sans;
  }
}

.reason-one {
  .reasons-wrapper {
    background: @blue1;
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      background: url("../images/triangle2.png") no-repeat center center;
      width: 100%;
      height: 37px;
    }
  }
}

.reason-one_h3 {
  padding: 60px 0 18px 0;
  color: @white;
  font-size: 1.2em;
}

.reason_number {
  color: @white;
  font-size: 0.9em;
}

.reason-one_description {
  color: @white;
  font-size: 0.9em;
  padding: 24px 0 45px 0;
}

.reason-list {
  margin: 0;
  text-align: left;
  padding-left: 30px;
  list-style-type: none;
  &::before {
    content: '';
    background: #000;
  }
}

.reason-list-item_h4 {
  font-size: 1.2em;
  font-weight: bold;
  padding: 40px 0 24px 0;
}

.contacts_find-us {
  span {
    display: block;
    margin: 0;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
  }
}

.find-us_order {
  padding: 28px 0 40px;
}

.find-us_find-hotel {
  width: 280px;
  height: 58px;
  background: #81b3d2;
  color: #fff;
  border: none;
  margin-bottom: 50px;
}

.html-academy {
  position: relative;
  padding-right: 40px;
  margin-bottom: 30px;
  &::before {
    content: '';
    position: absolute;
    background: url("../images/sprite.png") -32px -37px;
    width: 27px;
    height: 34px;
    right: 85px;
    top: -5px;
  }
}