.main_page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-family: PT-Sans, Arial, sans-serif;
}

.text-index {
  background-image: url("../images/back-mobile.jpg");
  position: relative;
  text-align: center;
  height: 389px;
  width: 100%;
  margin: 0 auto;
  .text-index_background {
    margin-top: 90px;
  }
  .text-index_triangle {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  ::before {
    content: '';
    background: url("../images/triangle.png");
    position: absolute;
    bottom: 0;
  }
}

.contacts_find-us {
  span {
    display: block;
    margin: 0;
    padding-top: 30px;
    font-size: 20px;
    font-weight: bolder;
  }
  p {
    font-size: 16px;
  }
}

.find-us_order {
  padding: 28px 0 40px;
}

.find-us_find-hotel {
  width: 280px;
  height: 58px;
  background: #81b3d2;
  color: #fff;
  border: none;
  margin-bottom: 50px;
}

.html-academy {
  position: relative;
  padding-right: 40px;
  margin-bottom: 30px;
  &::before {
    content: '';
    position: absolute;
    background: url("../images/sprite.png") -32px -37px;
    width: 27px;
    height: 34px;
    right: 85px;
    top: -5px;
  }
}