.social-networks {
  text-align: center;
  font: bold @font-title1 PT-Sans, Arial, sans-serif;
  text-transform: uppercase;
  .hashtag {
    display: block;
  }
  .social-networks-list {
    list-style-type: none;
    margin: 0;
  }
  .social-item {
    display: inline-block;
  }
  .icon {
    display: block;
    width: 45px;
    height: 48px;
    background: @blue1;
    position: relative;
    font-size: 0;
    &::before {
      content: '';
      position: absolute;
      background-image: url("../images/sprite.png");
    }
    &:hover {
      background: darken(@blue1, 10%);
    }
    &:active {
      background: darken(@blue1, 20%);
    }
  }
  .facebook::before {
    background-position: -79px 0;
    top: 14px;
    left: 17px;
    width: 9px;
    height: 18px;
  }
  .twitter::before {
    background-position: -59px -51px;
    top: 17px;
    left: 13px;
    width: 18px;
    height: 14px;
  }
  .youtube::before {
    background-position: -59px -37px;
    top: 18px;
    left: 12px;
    width: 20px;
    height: 14px;
  }
}

.html-academy {
  position: relative;
  padding: 50px 0 30px 0;
  margin: 0 auto;
  width: 160px;
  a {
    text-decoration: none;
    color: @black;
    font-size: 75%;
    font-weight: bold;
    padding-right: 30px;
    &::before {
      content: '';
      position: absolute;
      background: url("../images/sprite.png") -32px -37px;
      width: 27px;
      height: 34px;
      right: 12px;
      top: 50px;
    }
  }
}

@media (min-width: 800px) {
  .social-networks {
    display: flex;
    justify-content: space-around;
    vertical-align: top;
    margin-bottom: 36px;
    .hashtag {
      margin-top: 30px;
    }
  }
  .html-academy {
    margin: 30px 0 0;
    padding: 0;
    a {
      &::before {
        top: 0;
      }
    }
  }
}